
*.aux

*.log

*.out

*.gz

CommentedCode/01-Principles/InferenceMethods.html

CommentedCode/02-Samplers/Rejection/ExampleRejectionSampler.html

*.html

LectureNotes/article.pdf

CommentedCode/02-Samplers/SMC/Rbiips-examples/

CommentedCode/02-Samplers/MCMC/metropolis_ex/metrop.gif
